.footer {
    padding-top: 100px;
    a{
        text-decoration: none;
        color: #888888;
    }p{
        color: #888888;
    }
    .col-md-4{
        p{
            width: 50%;
            margin-top: 20px;
        }
    }
    .author {
        div {
            span {
                margin-left: 20px;
                
            }
        }
    }
}